body {
    background-color: #e8e8e8;
    color: #303030;
    width: 100%;
}

/* Navbar */
.navbar{
    background-color: #e8e8e8;
    border: 1px solid #d3d3d3;
    margin-bottom: 15px;

}


.sidebar{
 height: 100%;
 padding-right: 0%;
 padding-left: 0%;
 margin-bottom: 0%;
 background-color: #1C2331;
 justify-content: center;
}

.sidenav{
 padding-right: 0%;
 padding-left: 0%;
}

.topnav{
 padding-left: 0%;
}

.monkey {
    height: 40px;
    width: 45px;
}

.monkey-face {
    border-bottom: 1px solid #d3d3d3;

}

.pp {
    border-radius: 25px;
    height: 40px;
    width: 40px;
    margin-bottom: 2px;
}

.field {
    
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12px;
  }

/* Top field area*/

.topnav {

    overflow: hidden;
    background-color: #FFF;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .smallIcon{
    margin-top: 20px;
    align-content: center;
    float: left;
    height: 15px;
    width: 15px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
   
  /* Style the "active" element to highlight the current page */
  .topnav a{
  /*  background-color: #2196F3;
    color: white;*/
    float: right;
  }
  
  .topnav input.largeSeach{
    width: 400px;
  /*overflow: auto;*/
  }
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: left;
    padding: 14px  16px;
    border: none;
   /* margin-top: 8px;*/
    margin-right: 0px;
    margin-left: 0px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: right;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }
  
  

/* DIV On The left */

.right-div {
    width: 12%;
    float: left;
    background-color: #ffffff;
    margin-left: 2%;
    position: relative;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}


.col {
    height: 60px;
    border: 1px #d3d3d3 solid;
    /* padding-top: 10px; */
    padding-left: 5px;
    padding-right: 0px;
    /* margin-left: 50px;    */
    
}

.col > h4 {
    font-size: 15px;
}

.col > h6 {
    font-size: 10px;
}

.nav-link > a:active,
.nav-link > a:hover {
    color: #303030;
    border-bottom: 2px solid #3366FF;
}

.short {
    height: 20px;
    padding-top: 2px;
    background-color: #d3d3d3;
}

/* DIV On The Right */

.container-big{
    /* width: 50%; */
    margin-left: 15%;
    padding: 5px;
    background-color: #ffffff;
    border: 1px #d3d3d3 solid;
    border-radius: 3px;
    position: relative;

}

.h4-size{
    font-size: 18px;
}

.h6-size{
    font-size: 14px;
}

.description {
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
   
    .right-div {
        width: 100%;
        float: none;
        background-color: #ffffff;
        border: 1px #d3d3d3 solid;
        margin-left: 2%;
        position: relative;
        margin-bottom: 5px;
    }

    .container-big {
        margin-left: 5px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px #d3d3d3 solid;
    border-radius: 3px;
    position: relative;
    }
     
      
    }

/* For Images */
img {

    height: 20px;
    width: 30px;
    align-content: center;
    margin-right: 10px;
    margin-left: 10px;
    }

    
  /* Side Navbar */

  
.sidenav a {
    padding: 16px 16px 6px 16px;
    
    text-decoration: none;
    font-size: 11px;
    text-align: center;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav a.logo img{
  height: 30px;
  width: 30px;
  
  }
  
  .sidenav a.profile img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  }
  
  .sidenav a:hover{
     background-color: #ddd;
    color: black;
  
  }